<html ng-app="app">
<head>
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="css/modal-dialog.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl" ng-swipe-right="showMenu()" ng-swipe-left="hideMenu()">
<side-menu visible="visibleMenu">
    <a ng-click="goTo('/home')">Home</a>
    <a ng-click="goTo('/about')">About</a>
</side-menu>
<ng-view></ng-view>

<!-- Libraries -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>

<!-- Main js files -->
<script src="index.js"></script>
<script src="router.js"></script>

<!-- Services -->
<script src="services/TasksService.js"></script>

<!-- Directives -->
<script src="directives/side-menu/side-menu.js"></script>
<script src="directives/modal-dialog/modal-dialog.js"></script>

<!-- Controllers -->
<script src="controllers/main.ctrl.js"></script>
<script src="controllers/home.ctrl.js"></script>
<script src="controllers/about.ctrl.js"></script>

</body>
</html>