* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

.menu {
    border: 1px solid #333;
    background: #CCC;
    width: 200px;
    height: 100%;
    position: absolute;
    top:0;
    left: -200px;
    transition: left 1s;
}

.menu-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.menu a {
    display: block;
    margin: 5px;
}

.menu.visible-menu {
    left: 0;
}

.header {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
    background: #555;
    color: #EEE;
    cursor: pointer;
}

.task {
    display: flex;
    height: 32px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 5px;
    justify-content: space-around;
}

.task-button {
    width: 30px;
    border: 1px solid #EEE;
}

.task-remove {
    background-image: url(../img/remove.png);
}

.task-edit {
    background-image: url(../img/edit.png);
}

.task-title {
    align-self: center;
    text-align: center;
    margin: 10px;
    flex: 1 1 auto;
    font-size: 18px;
    cursor: pointer;
}